[user]
        name = Aumy
        email = aumy@outlook.jp
        signingkey = BEDC500020425D0FB4E3C8235911EC1BAD704C03
[alias]
        fixit = commit --amend --no-edit
[commit]
        gpgsign = true
[pull]
	ff = only
